@import url(https://db.onlinewebfonts.com/c/5a31e8d3d403b8ac139b5fc019589b00?family=Google+Sans+Text);
@import url(https://db.onlinewebfonts.com/c/35af6dbe749b9704f03282e5a5949253?family=Rubik);
@import url(https://db.onlinewebfonts.com/c/ae7951c47ee13ee1f50d9cde9da242ee?family=Google+Sans);
@import url(https://db.onlinewebfonts.com/c/7fd45b9b66da92e6198e0732294d5708?family=Quattrocento+Sans+Bold);

html {
    scroll-behavior: smooth;
}

body {
    background-color: #C7CED6;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

/*Cabeçalho*/
.top-menu h1 {
    font-family: "Quattrocento Sans Bold", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: white;
    margin: 25px;
}

.top-logo {
    display: flex;
    justify-content: flex-start;
}

.top-logo img {
    width: 60px;
    height: 90px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 100px;
    padding: 10px;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #21212166;
    overflow: auto;
}

.top-links a {
    font-family: "Rubik", sans-serif;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 2;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 4px;
    border: 2px ridge;
    border-radius: 5px;
    user-select: none;
    transition: 125ms;
}

.top-links a:hover {
    font-size: 26px;
}

.top-links a:active {
    color: #cdd0d1;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: inset 0px 0px 25px black;
}

.top-links a:link,
:visited {
    color: inherit;
}

/*Conteúdo*/
.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin: 30px;
}

article {
    width: 100%;
    height: 20%;
    background-color: #f6eee3;
    border-radius: 20px;
    box-shadow: 0px 10px 25px #21212166;
    padding-bottom: 30px;
    transition: 100ms;
}

article h2 {
    font-family: "Google Sans", sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    color: black;
    background-color: #e47c4c;
    padding: 15px;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

article p {
    font-family: "Google Sans Text", sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: black;
    padding: 5px 25px;
    margin: 1px 0;
}

.code-box {
    background-color: #212121;
    color: white;
    font-size: 15px;
    line-height: 0.6;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    border-radius: 15px;
    overflow: auto;
    transition: 100ms;
}

.code-box:active {
    font-size: 16.25px;
}

.code-box :hover {
    color: #ff5f15;
}

/*Menu de navegação lateral*/
aside {
    flex: 1;
    position: sticky;
    top: 90px;
    margin: 30px;
    min-width: 84px;
    max-width: 288px;
    height: 78dvh;
    padding-bottom: 30px;
    overflow: auto;
    background-color: #f6eee3;
    border-radius: 20px;
    box-shadow: 0px 10px 25px #21212166;
    transition: 110ms;
}

aside:hover {
    scale: 1.02;
}

aside:active {
    scale: 0.99;
}

aside ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 74dvh;
    user-select: none;
}

aside li {
    font-family: "Google Sans Text", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-decoration: none;
    transition: 100ms;
}

aside li:hover {
    font-size: 23px;
}